<router-outlet></router-outlet>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombres">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nombres}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="apellidos">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido paterno </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.apellidos}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edad">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Edad </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.edad}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="profesion">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Profesión </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.profesion}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lugarTrabajo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Lugar de Trabajo </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.lugarTrabajo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="codLenguajeProgramacion">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Lenguaje preferido </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.codLenguajeProgramacion | lenguajeProgramacion }} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" [routerLink]="['edicion', row.id]"><mat-icon>ballot</mat-icon></button>
      <button mat-button color="accent" (click)="eliminar(row.id)"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">

  </mat-row>
</mat-table>

<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalRows" [pageIndex]="pageIndex" (page)="mostrarMas($event)"></mat-paginator>
<!--
<button mat-fab color="accent" style="float: right" routerLink="/signo-vital/nuevo">
  <mat-icon>create</mat-icon>
</button>
-->
