<div class="example-container">
  <mat-toolbar color="primary">
    <h1>Encuesta</h1>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/app/about">
        <mat-icon>info</mat-icon>
        <span>Acerca De</span>
      </button>
      <button mat-menu-item routerLink="/logout">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesi&oacute;n</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
