<!-- <mat-card>Mi lenguaje de programacion preferido</mat-card>-->

<form class="example-container" [formGroup]="form" #frmEncuesta="ngForm" (ngSubmit)="operar()">

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombres" required formControlName="nombres">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Apellidos" required formControlName="apellidos">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Edad" required formControlName="edad">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Profesión" required formControlName="profesion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Lugar de trabajo" required formControlName="lugarTrabajo">
  </mat-form-field>

  <label id="example-radio-group-label">Lenguaje de programación preferido:</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="lenguajePreferido">
    <mat-radio-button class="example-radio-button" value="J">Java</mat-radio-button>
    <mat-radio-button class="example-radio-button" value="C">C#</mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmEncuesta.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
  </button>

</form>
