<mat-toolbar>Acerca De</mat-toolbar>
<mat-card class="example-card">
  <mat-card-content>
    <p>
      Esta aplicaci&oacute;n es estrictamente usada dentro del curso de java con aws como proyecto final del curso para el alumno @kevinmenesese
    </p>
    <p>
      La funcionalidad t&eacute;cnica consiste en:
    </p>
    <mat-list role="list">
      <mat-list-item role="listitem">Frontend monol&iacute;tico</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Frontend desacoplado y hospedado en AWS S3 con AWS CloudFront</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Backend monol&iacute;tico</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Backend desacoplado hospedado AWS ECS</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>
